# See https://atom.io/docs/latest/creating-a-package#menus for more details
# 'context-menu':
#   '.overlayer':
#       'Enable convert-file-encoding': 'convert-file-encoding:toggle'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Convert to encoding'
      'submenu': [
        { 'label': 'UTF-8',                            'command': 'convert-file-encoding:utf-8'      },
        { 'label': 'UTF-16LE',                         'command': 'convert-file-encoding:utf16le'      }
      ]
    ]
  }
]
